@charset "UTF-8";
/* GENERAL */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

body {
  font-size: 18px;
  font-family: "Alegreya", Georgia, serif;
  line-height: 1.4;
  padding-bottom: 90px;
}

a {
  color: #1c2630;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

.main {
  position: relative;
}

.group:after, .friends:after, .friends ul:after, .jl:after, .crime:after, .portrayers:after, .contact:after {
  display: table;
  clear: both;
  content: "";
}

/* HEADER */
header {
  margin-bottom: 20px;
}
header img {
  display: block;
  border-bottom: 1px solid #ddd;
}

.brand {
  border-radius: 0 0 10px 10px;
  padding: 20px 30px;
  margin-left: 30px;
  width: 250px;
  background: rgba(28, 38, 48, 0.5);
  color: white;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 20px;
  z-index: 100;
}
.brand ul li {
  display: block;
  padding: 1px 8px;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
.brand ul li:before {
  position: relative;
  top: -2px;
  left: -1px;
  content: "✦ ";
  font-size: 10px;
  opacity: .7;
}
.brand ul li a:hover {
  color: white;
}

h1 {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 52px;
  line-height: 1;
}

/* SECTIONS */
section {
  padding: 25px 0;
  border-top: 3px solid #f7f7f7;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

h2 {
  margin-bottom: .8em;
  width: 25%;
  color: #4d5d6f;
  text-align: left;
  font-weight: bold;
  font-style: italic;
  font-size: 28px;
  line-height: 1;
  float: left;
}

.readmore {
  padding-top: 12px;
}
.readmore a {
  position: relative;
  padding: 4px 10px;
  border: 1px solid #7d90a5;
  border-radius: 12px;
  color: #7d90a5;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1;
  opacity: .7;
  transition: all 200ms ease-in;
}
.readmore a:hover {
  background: #7d90a5;
  color: white;
  opacity: 1;
}

/* FRIENDS */
.friends ul {
  float: left;
  margin-bottom: 20px;
  width: 75%;
  font-size: 0;
  text-align: left;
}
.friends li {
  vertical-align: top;
  padding-bottom: 8px;
  width: 31%;
  margin-right: 3.5%;
  border-radius: 10px;
  background-color: #ccc;
  background-position: 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 20px;
  line-height: 1;
  opacity: .8;
  display: inline-block;
}
.friends li:hover {
  opacity: 1;
}
.friends li:first-child, .friends li:first-child img {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.friends li:last-child {
  margin-right: 0;
}
.friends li:last-child, .friends li:last-child img {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.friends li img {
  border-radius: 10px 10px 0 0;
  margin-bottom: 8px;
}
.friends li b {
  display: block;
  font-weight: bold;
}
.friends li i {
  color: #666;
  font-style: italic;
}

/* CHARACTERS */
.jl .pics, .crime .pics, .portrayers .pics {
  float: left;
  margin-bottom: 20px;
  width: 75%;
  text-align: left;
  font-size: 0;
}
.jl .pics a, .crime .pics a, .portrayers .pics a {
  position: relative;
  display: inline-block;
  width: 20%;
}
.jl .pics a:hover:before, .crime .pics a:hover:before, .portrayers .pics a:hover:before {
  font-size: 90px;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* JUSTICE LEAGUE */
.jl .pic:hover:before {
  content: "✌";
}

/* VILLAINS */
.crime .pic:hover:before {
  content: "☹";
}

/* PORTRAYERS */
.portrayers .pic:hover:before {
  content: "%";
}

/* CONTACT */
.contact form {
  float: left;
  width: 75%;
  text-align: left;
}
.contact textarea {
  margin: 0;
  width: 99%;
  height: 100px;
  border: 1px solid #999;
}
.contact button {
  margin: 0;
  padding: 5px 8px;
  border: #f7f7f7;
  border-radius: 4px;
  font-size: 20px;
  font-size: 16px;
}

/* FOOTER */
footer {
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0px;
  background: white;
  border-top: 2px solid #888;
  width: 100%;
}
footer .copyright {
  text-align: right;
}
footer nav {
  text-align: left;
}
footer nav a {
  position: relative;
  margin-right: 10px;
  padding-left: 16px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}
footer nav a:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-color: transparent transparent black transparent;
  border-style: solid;
  border-width: 6px;
  top: 3px;
  left: 0;
}
