@media screen and (max-width: 960px) {
    .container {
        width: auto;
    }

    h2 {
        float: none;
        width: auto;
        text-align: center;
    }

    .readmore {
        clear: both;
    }

    %set {
        .pics {
            width: auto;
            float: none;

            a {
                min-width: 100px;
            }
        }
    }
}

