/* GENERAL */

@import "library";
@import "reset";

$corner-radius: 10px;
$blue: #4D5D6F;
$dark-blue: #1C2630;
$light-blue: lighten($blue, 20%);

body {
    font-size: 18px;
    font-family: "Alegreya", Georgia, serif;
    line-height: 1.4;
}

a {
    color: $dark-blue;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 960px;
}

// Clearfix
.group:after {
    content: "";
    display: table;
    clear: both;
}

/* HEADER */

header {
    position: absolute;
    top: 0px;
    left: 40px;
    padding: 20px 30px;
    background: fade-out($dark-blue,.5);
    color: white;
    text-align: center;
    @include rounded-corners($corner-radius);

    .nav li {
        display: block;
    }
}

h1 {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 50px;
    line-height: 1;
}

.nav {
    li {
        display: inline-block;
        padding: 1px 8px;
        text-transform: uppercase;
        font-size: 16px;
        color: rgba(255,255,255,.75);
        text-decoration: none;

        &:before {
            content: "✦ ";
            font-size: 10px;
            position: relative;
            top: -2px;
            left: -1px;
            opacity: .7;
        }

        a:hover {
            color:white;
        }
    }
}

.me {
    margin-bottom: 20px;

    img {
        display: block;
        border-bottom: 1px solid #ddd;
    }
}

/* SECTIONS */

section {
    padding: 25px 0;
    border-top: 3px solid #f7f7f7;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

$col1: 25%;

h2 {
    float: left;
    margin-bottom: .8em;
    width: $col1;
    color: $blue;
    text-align: left;
    font-weight: bold;
    font-style: italic;
    font-size: 28px;
    line-height: 1;
}

.readmore {
    padding-top: 12px;

    a {
        position: relative;
        padding: 4px 10px;
        border: 1px solid $light-blue;
        border-radius: 12px;
        color: $light-blue;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 1;
        opacity: .7;
        transition: all 200ms ease-in;

        &:hover {
            background: $light-blue;
            color: white;
            opacity: 1;
        }
    }
}

/* FRIENDS */

.friends {
    ul {
        margin-bottom: 20px;
        float: left;
        width: 720px;
    }

    li {
        float: left;
        margin-right: 5%;
        padding-bottom: 8px;
        width: 30%;
        border-radius: $corner-radius;
        background-color: #f7f7f7;
        background-position: 0 0;
        background-size: 100%;
        background-repeat: no-repeat;
        text-align: center;
        font-size: 20px;
        line-height: 1;
        opacity: .8;

        &:hover {
            opacity: 1;
        }

        &:first-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:last-child {
            margin-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        img {
            margin-bottom: 8px;
            // border-radius: $corner-radius $corner-radius 0 0;
            @include rounded-corners($corner-radius $corner-radius 0 0);
        }

        b {
            display: block;
            font-weight: bold;
        }

        i {
            color: #666;
            font-style: italic;
        }
    }
}

/* JUSTICE LEAGUE */

.jl {
    img {
        width: 140px;
    }

    .members {
        float: left;
        width: 100% - $col1;
        text-align: left;
        margin-bottom: 20px;
    }
}

/* VILLAINS */

.crime {
    img {
        width: 140px;
    }

    .villains {
        float: left;
        width: 100% - $col1;
        text-align: left;
        margin-bottom: 20px;
    }
}

/* CONTACT */

.contact {
    form {
        float: left;
        width: 720px;
        text-align: left;
    }

    textarea {
        margin: 0;
        width: 99%;
        height: 100px;
        border: 1px solid #999;
    }

    button {
        margin: 0;
        padding: 5px 8px;
        border: #f7f7f7;
        border-radius: 4px;
        font-size: 20px;
        font-size: 16px;
    }
}

/* FOOTER */

footer {
    padding: 20px 0;
    text-align: center;
    font-size: 14px;

    .copyright {
        float: right;
        text-align: right;
    }

    nav {
        float: left;
        text-align: left;
    }

    nav a {
        font-size: 16px;
        margin-right: 10px;
        border-bottom: 1px solid #ddd;
        padding-left: 16px;
        position: relative;

        &:before {
            @include arrow-up;
            left: 0;
            top: 3px;
        }
    }
}

