@import "library";
@import "reset";

@import "compass/css3/background-size";

@import "general";
@import "friends";

/* CHARACTERS */

%set {
    @extend .group;

    .pics {
        float: left;
        margin-bottom: 20px;
        width: 100% - $col1;
        text-align: left;
        font-size: 0;

        a {
            position: relative;
            display: inline-block;
            width: 20%;

            &:hover {
                &:before {
                    font-size: 90px;
                    color: #fff;
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    left: 10px;
                    top: 10px;
                    text-align: center;
                    content: "";
                }
            }
        }
    }
}

@mixin hover-symbol($sprite) {
    .pics {
        a {
            &:hover {
                &:before {
                    @include icons-sprite($sprite);
                }
            }
        }
    }
}

@import "icons/*.png";

/* JUSTICE LEAGUE */

.jl {
    @extend %set;
    @include hover-symbol(heart);
}

/* VILLAINS */

.crime {
    @extend %set;
    @include hover-symbol(skull);
}

/* PORTRAYERS */

.portrayers {
    @extend %set;
    @include hover-symbol(movie);
}

/* CONTACT */

.contact {
    @extend .group;

    form {
        float: left;
        width: 100% - $col1;
        text-align: left;
    }

    textarea {
        margin: 0;
        width: 99%;
        height: 100px;
        border: 1px solid #999;
    }

    button {
        margin: 0;
        padding: 5px 8px;
        border: #f7f7f7;
        border-radius: 4px;
        font-size: 20px;
        font-size: 16px;
    }
}

/* FOOTER */

footer {
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0px;
    background:white;
    border-top: 2px solid #888;
    width: 100%;

    .copyright {
        float: right;
        text-align: right;
    }

    nav {
        float: left;
        text-align: left;
    }

    nav a {
        position: relative;
        margin-right: 10px;
        padding-left: 16px;
        border-bottom: 1px solid #ddd;
        font-size: 16px;

        &:before {
            @include arrow-up;
            top: 3px;
            left: 0;
        }
    }
}

@include respond-to(handheld) {
    h2 {
        float: none;
        width: auto;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .readmore {
        clear: both;
    }

    .brand {
        margin: 0;
        width: 100%;
        position: static;
        border-radius: 0;
        background:#333;

        h1 {
            font-size: 38px;
        }
    }

    %set .pics {
        width: 100%;

        a {
            border-bottom: 3px solid black;
        }
    }
}
